[Unit]
Description=Blueman Applet
After=graphical-session-pre.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/blueman-applet
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
