[Unit]
Description=SwayNC Notification Daemon
After=graphical-session-pre.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/env swaync -s %h/.config/swaync/theme/style.css
Restart=no
RestartSec=5

[Install]
WantedBy=graphical-session.target
