[Unit]
Description=Vicinae Launcher Daemon
Documentation=https://docs.vicinae.com
Requires=dbus.socket
# Start only once Niri has published the Wayland session environment.
After=niri.service
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/home/veya/.local/bin/vicinae-server-patched
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=60
KillMode=control-group

[Install]
WantedBy=graphical-session.target
